.todo-list {
  margin-top: 40px;
  border: 1px solid #888;
  border-radius: 5px;
  overflow: hidden;

  box-shadow: 1px 1px 10px rgb(22, 3, 3);
}

.todo-list-name {
  padding: 10px 10px;
  background-color: rgba(29, 139, 29, 0.769);
  font-weight: 700;
  font-size: 20px;

  color: aliceblue;
}

table {
  width: 100%;
}

.todo-item:not(:last-child) {
  border-bottom: 1px solid rgb(179, 176, 176);
}

table td {
  padding: 10px 20px;
  color: aliceblue;
}

.todo-id {
  width: 7%;
  text-align: center;
}

.todo-name {
  width: 70%;
  padding-right: 20px;
}

.todo-level {
  min-width: 150px;
}

/* .todo-action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.todo-action-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3px;

  overflow: hidden;
  transition: all 0.2s ease;
}

.todo-action-name {
  justify-content: center;
}

.action-icon {
  padding: 5px;
  color: #b9b5b5;
  cursor: pointer;
}

.action-icon:hover {
  transform: scale(1.5);
}

.action-icon-complete:hover {
  color: rgb(14, 208, 14);
}
.action-icon-edit:hover {
  color: blue;
}
.action-icon-delete:hover {
  color: red;
}

/* Edit */
.control-input-task-edit {
  height: 30px;
  padding: 15px 5px;
}

.control-input-task-edit-level {
  padding: 4px 5px;
  font-size: 15px;
}
