.app {
  margin: 70px auto;
}

.app-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
  filter: blur(5px);
  object-fit: cover;
  object-position: center;
}

.todo-wrapper {
  margin: 70px auto;
  padding: 20px;
  width: 70%;

  border: 1px solid rgb(206, 205, 205);
  border-radius: 10px;
}
